
@{
    ViewData["Title"] = "Home Page";

}
@{
    DateTime day = DateTime.Now;

    //var nombres = new List<string>() { "carlos", "seba", "mario", "fabian" };

}

<div class="text-center">
    @* <h1 class="display-4">Soy @Model.Nombre</h1> *@
    @* @{ *@
    @*     if (Model.Edad >= 25) *@
    @*     { *@
    @*         <h2>Edad: @Model.Edad</h2> *@
    @*     } *@
    @*     else *@
    @*     { *@
    @*         <h2>nada que mostrar</h2> *@
    @*     } *@

    @* } *@




    @* <h1>@day</h1> *@

    @* @{ *@
    @*     foreach (var asdas in nombres) *@
    @*     { *@
    @*         <li>@asdas</li> *@
    @*     } *@
    @* } *@

    <div class="text-center">
        <h1>Soy Ignacio Sandoval Cañete</h1>
        <h2>Soy un desarrollador full stack especializado con tecnologias como .NET y PHP.</h2>

        <img class="fotoPerfil" src="imagenes/usuario.png" alt="Alternate Text" />
    </div>

    <div class="text-center">
        <img class="logoTecnologias" src="imagenes/Microsoft_.NET_logo.svg.png" alt="Alternate Text" />
    </div>

    <partial name="_Presentacion"/>

</div>

<div style="margin-top: -105px">
    <div class="row" style="justify-content: center; text-align: center;">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <h1><i class="bi bi-hdd"></i></h1>
            <h3>Back-end</h3>
            <p>texto texto texto</p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                ASP.NET
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>.net mvc</li>
                <li>.net mvc</li>
                <li>.net mvc</li>
            </ul>
        </div>

        <div class="col col-3 bg-white habilidades" style="border-radius: 0px 15px 15px 0px; box-shadow: 0 5px 5px 0 gray">
            <h1><i class="bi bi-code-slash"></i></h1>
            <h3>Front-end</h3>
            <p>texto texto texto</p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                ASP.NET
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li><i class="bi bi-amd"></i>ASP.NET</li>
                <li>.net mvc</li>
                <li>.net mvc</li>
            </ul>
        </div>
    </div>
</div>
<br />
<br />
<br />
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-3">
    @{
        foreach(var proyectos in Model.DTO)
        {
            <div class="card h-100">
                    <img src="~/imagenes/PHP-logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@proyectos.Titulo</h5>
                    <p class="card-text">@proyectos.Descripcion</p>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>

                <div class="card-body">
                    <a class="btn btn-primary" href="@proyectos.Link" target="_blank" rel="noopener noreferrer">Visitar</a>
                </div>
            </div>
        }
    }
    </div>
</div>




